.wrapper {
	/* border: 1px solid purple; */
	
	display: flex;
}

.glass {
	/* border: 1px solid var(--primary-color); */

	box-sizing: border-box;
	font-size: 12px;
	margin: 0;
	padding: 0;
	max-height: 80vh;
	overflow-y: scroll;
	/* scrollbar-width: thin; */
	scrollbar-width: none;
	width: 70%;
}

.glass li {
	display: flex;
}

.ask_row_hard {
	font-weight: 700;
	border-top: 1px solid var(--background-color-dark-second);
}

.bid_row_hard {
	font-weight: 700;
	border-bottom: 1px solid var(--background-color-dark-second);
}
