.wrapper {
	/* border: 1px solid purple; */
	
	display: flex;
}

.glass {
	/* border: 1px solid var(--primary-color); */

	box-sizing: border-box;
	font-size: 12px;
	margin: 0;
	padding: 0;
	max-height: 80vh;
	overflow-y: scroll;
	scrollbar-width: thin;
	width: 70%;
}

.glass li {
	display: flex;
}
