.quantity_price {
	/* border: 1px solid red; */
	min-width: 20px;
	width: 20%;
}

.ask_row_empty {
	color: white;
	background-color: var(--background-color-dark);
}
.ask_row {
	color: white;
	background-color: #63171b;
}
.ask_row_hard {
	color: white;
	background-color: #63171b;
}

.ask_row_first {
	color: white;
	background-color: #63171b;
}

.bid_row_empty {
	color: white;
	background-color: var(--background-color-dark);
}
.bid_row {
	color: white;
	background-color: #1d4044;
}
.bid_row_hard {
	color: white;
	background-color: #1d4044;
}

.bid_row_first {
	color: white;
	background-color: #1d4044;
}

.mid_row {
	color: white;
	background-color: var(--background-color-dark);
}

.quantity {
	border-bottom: 2px solid transparent; /* Need it to fit price border hover */
	background-color: #2c5282;
	float: left;
}

.quantity_text {
	padding-left: 5px;
}

.price {
	border: 1px solid transparent;
	float: right;
	text-align: center;
	width: 40%;
}

/* Remove text selection in quantity - price fields */
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently */
}
